<h3 class="titulo-historico-agendamentos mt-4 mb-3 text-center dark-text">
  💈Guile BarberShop💈Histórico de Agendamentos Cancelados💈
  <!-- Botão de logout -->
  <button class="btn btn-outline-danger" (click)="logout()" aria-label="Sair">
    🚪 Sair
  </button>
</h3>

<div class="conteudo-centralizado">
  <div class="tabela-container">
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle text-center table-secondary">
        <thead class="table-light">
          <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Motivo</th>
            <th>Registro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agendamento of historico">
            <td>{{ agendamento.nomeCliente }}</td>
            <td>{{ agendamento.dataHora | date: 'dd/MM/yyyy' }}</td>
            <td>{{ agendamento.dataHora | date: 'HH:mm' }}</td>
            <td>{{ agendamento.motivoCancelamento }}</td>
            <td>{{ agendamento.dataRegistro | date: 'dd/MM/yyyy HH:mm' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
