/* fila-espera.component.scss */

.fila-container {
  background: linear-gradient(to right, #d7f819, #697001); /* azul claro para azul esverdeado */
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.titulo-filaespera {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  position: relative;
}

/* Exemplo: mudar o fundo e a cor da linha da tabela para agendamentos antigos */
tr.antigo {
  background-color: #fff3cd; /* amarelo claro */
  color: #856404; /* texto marrom escuro */
  font-weight: bold;
}

/* Se preferir um destaque mais sutil */
tr.antigo:hover {
  background-color: #ffe8a1;
  cursor: pointer;
}

