.fila-container {
  background: linear-gradient(to right, #4e4d4d, #000000); /* azul claro para azul esverdeado */
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.titulo-blacklist {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  position: relative;
}